# Jekyll build and cache directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler and Ruby environment
.bundle/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE and Text Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~
