<section id="approach">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How do we get there?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="display: flex; align-items: stretch; flex-wrap: wrap;">
            <div class="col-md-5">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#deliberative" aria-controls="deliberative" role="tab" data-toggle="tab" style="white-space: normal; height: 100%;">
                            <h3><i class="fa fa-fw fa-comments-o"></i> A deliberative approach</h3>
                            <p>giving space for all people to learn about AI, to listen to different perspectives and explore shared hopes and fears.</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#strategic" aria-controls="strategic" role="tab" data-toggle="tab" style="white-space: normal; height: 100%;">
                            <h3><i class="fa fa-fw fa-compass"></i> A strategic approach</h3>
                            <p>calling on emerging spaces of global AI governance to embed a citizens track.</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#inclusive" aria-controls="inclusive" role="tab" data-toggle="tab" style="white-space: normal; height: 100%;">
                            <h3><i class="fa fa-fw fa-users"></i> An inclusive approach</h3>
                            <p>celebrating and connecting with existing practice.</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content" style="height: 100%;">
                    <div role="tabpanel" class="tab-pane fade in active" id="deliberative">
                        <p class="lead">Public deliberation is a tried and tested approach to bring together expertise and lived experience, giving members of the public a chance to have an informed say on complex issues.</p>
                        <p><strong>Learn</strong>: <a href="https://www.involve.org.uk/resources/knowledge-base/what/public-deliberation?__cf_chl_tk=9n92XQsq0WyuWmATcb9a9G.d5M0UGlFVLgmHzt_1RsM-1776783777-1.0.1.1-J4y0VptT66OTLhE7qZf4KDalIzfvh1sysg3_8i85Qtk" target="_blank">Find out more about public deliberation</a>.</p>
                        <p><strong>Explore:</strong> The <a href="https://globalassemblies.org/civic-assembly" target="_blank">Civic and Community Assembly model for transnational deliberation</a>.</p>
                        <p><strong>Discover:</strong> How <a href="https://participedia.net/case/global-citizens-dialogue-on-the-future-of-the-internet" target="_blank">a previous distributed dialogue brought together over 5,500 participants from over 70 countries</a> to explore topics included digital identity, internet governance, the digital public sphere, disinformation, and AI.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="strategic">
                        <p class="lead">Ultimately, all AI governance processes at local, national and global level should have a clear citizens’ track.</p>
                        <p>Our initial focus is on the UN Global Dialogue on AI Governance, as an emerging multi-stakeholder space open to all UN member states, and designed through an open process of consultation.</p>  
                        <p><strong>Explore</strong>: <a href="https://www.un.org/global-dialogue-ai-governance/en" target="_blank">Read more about the UN Global Dialogue</a>.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="inclusive">
                        <p class="lead">Our focus is on the ‘connective tissue’ that links existing dialogues with global AI governance - and that reveals gaps that need action from funders and delivery partners to make sure all affected communities across the globe are represented within citizen dialogue on AI.</p>
                        <p><strong>Explore:</strong> Find existing practice from <a href="https://pairs.site" target="_blank">PAIRS: the Participatory AI Research and Practice Symposium</a>.</p>
                        <p><strong>Coming soon:</strong> A case book of Participatory AI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>