<section class="call-to-action" id="about" style="padding: 100px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading" style="color: white;">Help secure a future of AI shaped by us all.</h2>
                <hr class="light">
                <p class="text-faded" style="margin-bottom: 35px;">Deliberation brings together collective intelligence
                    and community values. Sign up to receive the latest updates, event invitations, and case books from
                    the Citizens' Track on AI.</p>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdM6ACMym_wcbvcgcXL7Q5ZyevFr9EyjAhfWJSfVL_AXdx4Q/viewform"
                    target="_blank" class="btn btn-default btn-xl">Subscribe for updates</a>
            </div>
        </div>
    </div>
</section>