<header>
    <div class="header-content">
        <div class="container">
            <div class="row" style="display: flex; align-items: center; flex-wrap: wrap;">
                <div class="col-lg-7 col-md-7 text-left">
                    <h1 class="header-title-stacked">
                        A Citizens' Track <br />
                        on AI Governance
                    </h1>
                    <div class="header-subtitle">
                        Agency, Alignment & Accountability
                    </div>
                    <hr class="header-divider" style="margin-left: 0;">

                    <a href="#elements" class="btn btn-primary btn-xl page-scroll" style="margin-bottom: 20px;">Find Out
                        More</a>

                </div>
                <div class="col-lg-5 col-md-5 text-center hidden-sm hidden-xs">
                    <div class="header-graphic">
                        <img src="img/papers/people-lead-teal.png" class="img-responsive center-block"
                            alt="People in the lead silhouette">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>